// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #570df8 !default;
$header-bg-color-secondary: #f000b8!default;

// Text
$section-headings-color: #570df8 !default;
$body-text-color: #3d4451 !default;
$body-link-color: #570df8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #f9fafb !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
